!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Congratulations, #{@candidate.name}
    %p
      You have been alloted batch with following details for Vinsol Walk-In,
      %br/
    %p
      Event Name: #{@event.name}
      #single_break
        Date : #{@event.scheduled_at.strftime("%b %d, %Y")}
      #single_break
        Roll Number : #{@candidate.events_candidates.first.roll_num}
      #single_break
        Venue : #{@event.location}
      #double_break
        For further details please contact : 011-45675342
