#ad_signin
  %h2
    Send Invitation
  = form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f|
    = devise_error_messages!
    %p
      = f.label :email
      %br/
      = f.text_field :email
    %p
      = f.submit "INVITE"
  = link_to "Back", events_path
  %br/