- if @msg
  %p
    = @msg
- else
  %h3#double_break
    YOUR EVENT DETAILS
  #single_break
    Welcome #{@events_candidate.candidate.name},
  #double_break
    Following are your VinSol Walk-in Details:
  #single_break
    Event Name: #{@events_candidate.event.name}
  #single_break
    Date : #{@events_candidate.event.event_date}
  #single_break
    - if @events_candidate.waitlisted?
      Sorry!You are on Waitlist, please keep on checking.
    - else
      Time : #{@events_candidate.candidate.batches.first.start_time.strftime('%H:%M')} Hrs
  #single_break
    Roll Number : #{@events_candidate.roll_num}
  #single_break
    Venue : #{@events_candidate.event.location}
  #double_break
    For any further queries please contact : 011-45675342
  #double_break
    = link_to "Generate Admit Card", admitcard_event_candidate_path(:event_id => @events_candidate.event.id, :id => @events_candidate.candidate.id )
    |
    - if (@events_candidate.attended?)
      %span
        Thank You for attending the Event!
    - else
      = link_to "CANCEL CANDIDATURE", cancel_event_candidate_path(:event_id => @events_candidate.event.id, :id => @events_candidate.candidate.id ), :confirm => 'Are you sure?'