<% if @flag == 0 %>
  <h3>Sorry Event has already taken place, Register for new!.</h3>
<% else %>
  <% if @f == 1 %>
    <h3>Sorry wrong roll number! Enter correct roll number or register for event.</h3>
  <% else %>
    <% if @f == 0 %>
      <h3>You have already cancelled your candidature.</h3>
    <% else %>
      <h3>YOUR EVENT DETAILS</h3><br />
       Welcome <%= @candidate.name %>,<br />
       Following are your VinSol Walk-in Details:<br/><br/>
       Event Name: <%= @event.name %><br/>
       Date : <%= @event.event_date %><br/>
       <% if @events_candidate.waitlist %>
        Sorry!You are on Waitlist, please keep on checking.<br />
       <% else %>
        Time : <%= @candidate.batches.first.start_time.strftime('%H:%M') %> Hrs<br />
       <% end %>
       Roll Number : <%= @events_candidate.roll_num %><br />
       Venue : <%= @event.location %><br/> 
       For any further queries please contact : 011-45675342<br /><br />
       <%= link_to "Generate Admit Card", admitcard_event_candidate_path(:event_id => @event.id, :id => @candidate.id ) %> |
       <% if !(@events_candidate.attended?) %>
         <%= link_to "CANCEL CANDIDATURE", cancel_event_candidate_path(:event_id => @event.id, :id => @candidate.id ), :confirm => 'Are you sure?' %>
       <% else %>
         <span>Thank You for attending the Event!</span>
       <% end %>
      <br/><br/>
    <% end %>
  <% end %>
<% end %>
