.field
  %h5
    Batch :-
  #batch_div
    = f.label :start_time
    %br/
    = f.time_select :start_time
  #batch_div
    = f.label :end_time
    %br/
    = f.time_select :end_time
  #batch_div
    = f.label :capacity
    %br/
    = f.text_field :capacity
  = f.link_to_remove "Remove this batch."
%br/
