<script>

  function show_map() {
     $.ajax({
       url : "<%= change_map_location_path %>",
       dataType : 'script',
       type : 'get',
       data : "location="+$("#event_location").attr("value")
     });
   }
</script>

<div id="main_event">
  <%= nested_form_for @event do |f| %>
    <!-- Extract this in a partial -->
    <%= render 'event_error' %>

    <div class="field" id="odd_field">
      <%= f.label :event_date %> :
      <%= f.datepicker :event_date %>
    </div>

    <div class="field" id="even_field">
      <%= f.label :category %> :
    <div id="fills"><%= f.select("category", CATEGORY, {:prompt => '--Select Category--'}) %></div>
    </div><br /><br /><br /><br /><br /><br /><br /><br />

    <br /><br /><div class="field" id="odd_field"><%= f.label :name %> :
      <div id="fills"><%= f.text_field :name, :size => 100 %></div>
    </div>
    
    
    <br /><br /><div class="field" id="odd_field"><%= f.label :description %> : 
      <div id="fills"><%= f.text_field :description, :size => 100 %></div>
    </div>

    <br /><br /><div class="field" id="odd_field"><%= f.label :tech_spec %> : 
      <div id="fills"><%= f.text_field :tech_spec, :size => 100 %></div>
    </div>
    
    <br /><br /><div class="field" id="odd_field"><%= f.label :experience %> :
  		<!-- Extract choices in a constant -->
      <div id="fills"><%= f.select("experience", EXPERIENCE, {:prompt => '--Select Experience--'}) %></div>
    </div>

    <br /><br /><div class="field" id="odd_field"><%= f.label :location %> :
    <div style="display:inline; margin-left:25px; margin-right:45px;" ><%= f.text_field :location, :onblur => "show_map();" %></div>
    </div>
    <div id="map">
      <iframe src="/google_map/index/?lat=28.635308&lon=77.22496&zoom=15" width="300" height="300" ></iframe>
    </div>
          
    <div id="main_batch">
      <%= f.fields_for :batches %>
      <p><%= f.link_to_add "Add a Batch", :batches %></p>
    </div>
    <div class="actions" style="display:inline; float:right; margin-right:270px;" >
      <%= f.submit %>
    </div><br /><br />
  <% end %>  
</div>