#main_event
  = nested_form_for @event do |f|
    = render :partial => 'shared/errors', :locals => {:obj => @event}
    #odd_field.field
      = f.label :scheduled_at
      \:
      \#{f.text_field :scheduled_at, :value => @event.scheduled_at.try(:strftime, "%d/%m/%Y")}
    #drop_box.field
      - if @event.new_record?
        = f.label :category
        \:
        \#{f.select(:category_id, options_from_collection_for_select(Category.all, :id, :name), {:prompt => '--Select Category--'})}
      - else
        = f.label :category
        \:
        = f.label @event.category.name
    #special
      #name_odd_field.field
        = f.label :name
        \:
      #even_field.field
        = f.label :description
        \:
      #odd_field
        = f.text_field :name, :size => 100
      #fills
        = f.text_area :description, :rows => 3, :cols => 73
    #special
      #odd_field.field
        = f.label :tech_spec, "Technical Specifications"
        \:
      #drop_box.field
        - if @event.new_record?
          = f.label :experience
          \:
          \#{f.select("experience", EXPERIENCE, {:prompt => '--Select Experience--'})}
        - else
          = f.label :experience
          \:
          = f.label @event.experience
      #odd_field
        = f.text_area :tech_spec, :rows => 3, :cols => 70
      
    #odd_field.field
      = f.label :location
      \:
      %span
        = f.text_field :location, :size => 83, :onblur => "show_map();"
    #batch_label
      #single_break
        Batches:
    #main_batch
      = f.fields_for :batches
      %p
        = f.link_to_add "Add a Batch", :batches
    #map
      %iframe{:src => "/google_map/index/?lat=28.635308&lon=77.22496&zoom=15"}
    .but_div
      = f.submit