<script>

  function show_map() {
     $.ajax({
       url : "<%= change_map_location_path %>",
       dataType : 'script',
       type : 'get',
       data : "location="+$("#event_location").attr("value")
     });
   }
   
   function delete_batch(batch) {
     $("#"+batch).remove();
   }
   function delete_this_batch(batch) {
      $(batch).parent().remove();
    }
 
</script>

<%= form_for(@event) do |f| %>
  <!-- Extract this in a partial -->
	<% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_date %><br />
    <%= f.datepicker :event_date %>
  </div><br /><br /><br /><br /><br /><br /><br /><br />

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :experience %><br />
		<!-- Extract choices in a constant -->
    <%= f.select(:experience, options_for_select([['Fresher', 'Fresher'], ['0-1 Years', '0-1 Years'], ['1-3 Years', '1-3 Years'], ['3-5 Years', '3-5 Years'], ['>5 Years', '>5 Years']]), :prompt => '--Select Experience--') %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, :onblur => "show_map();" %>
  </div>

  <div id="map">
    <iframe src="/google_map/index/?lat=28.635308&lon=77.22496&zoom=15" width="300" height="300"></iframe>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :category %><br />
    <%= f.select(:category, options_for_select([['Ruby On Rails Developer', 'Ruby On Rails Developer'], ['Android Developer', 'Android Developer'], ['PHP Developer', 'PHP Developer'], ['Project Manager', 'Project Manager']]), :prompt => '--Select Category--') %>
  </div>

  <div class="field">
    <%= f.label :tech_spec %><br />
    <%= f.text_field :tech_spec %>
  </div>

  <% if @event.id == nil %>
    <div class="field">
      <h3>Batch 1 Details:</h3>
      <%= f.fields_for :batches do |b|%>
        <div id="batch_div">
          <%= b.label :start_time %><br />
          <%= b.time_select :start_time %>
        </div>
        <div id="batch_div">
          <%= b.label :end_time %><br />
          <%= b.time_select :end_time %>
        </div>
        <div id="batch_div">
          <%= b.label :capacity %><br />
          <%= b.text_field :capacity %>
        </div><br />
      <% end %>
    </div><br />
  
    <div class="field" id="batch2">
      <h3>Batch 2 Details:</h3>
      <%= f.fields_for :batches do |b|%>
        <div id="batch_div">
          <%= b.label :start_time %><br />
          <%= b.time_select :start_time %>
        </div>
        <div id="batch_div">
          <%= b.label :end_time %><br />
          <%= b.time_select :end_time %>
        </div>
        <div id="batch_div">
          <%= b.label :capacity %><br />
          <%= b.text_field :capacity %>
        </div>
        <div id="batch_div">
					<!-- only 1 submit in a form -->
          <%= submit_tag "Delete Batch", :type => 'button', :onclick => "delete_batch('batch2');" %>
        </div><br />
      <% end %>
    </div><br />  
  
    <div class="field" id="batch3">
      <h3>Batch 3 Details:</h3>
      <%= f.fields_for :batches do |b|%>
        <div id="batch_div">
          <%= b.label :start_time %><br />
          <%= b.time_select :start_time %>
        </div>
        <div id="batch_div">
          <%= b.label :end_time %><br />
          <%= b.time_select :end_time %>
        </div>
        <div id="batch_div">
          <%= b.label :capacity %><br />
          <%= b.text_field :capacity %>
        </div>
        <div id="batch_div">
          <%= submit_tag "Delete Batch", :type => 'button', :onclick => "delete_batch('batch3');" %>
        </div><br />
      <% end %>
    </div><br />
  
    <div class="field" id="batch4">
      <h3>Batch 4 Details:</h3>
      <%= f.fields_for :batches do |b|%>
        <div id="batch_div">
          <%= b.label :start_time %><br />
          <%= b.time_select :start_time %>
        </div>
        <div id="batch_div">
          <%= b.label :end_time %><br />
          <%= b.time_select :end_time %>
        </div>
        <div id="batch_div">
          <%= b.label :capacity %><br />
          <%= b.text_field :capacity %>
        </div>
        <div id="batch_div">
          <%= submit_tag "Delete Batch", :type => 'button', :onclick => "delete_batch('batch4');" %>
        </div><br />
      <% end %>
    </div><br />
  <% else %>
    <div class="field">
      <h3>Batch Details:</h3>
      <%= f.fields_for :batches do |b|%>
        <br /><div>
          <div id="batch_div">
            <%= b.label :start_time %><br />
            <%= b.time_select :start_time %>
          </div>
          <div id="batch_div">
            <%= b.label :end_time %><br />
            <%= b.time_select :end_time %>
          </div>
          <div id="batch_div">
            <%= b.label :capacity %><br />
            <%= b.text_field :capacity %>
          </div>
          <%= submit_tag "Delete Batch", :type => 'button', :onclick => "delete_this_batch(this);" %>
        </div><br />
      <% end %>
    </div><br />
  <% end %>
  
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>