<script>

  function show_map() {
     $.ajax({
       url : "<%= change_map_location_path %>",
       dataType : 'script',
       type : 'get',
       data : "location="+$("#event_location").attr("value")
     });
   }
      // 
      // function delete_batch(batch) {
      //   $("#"+batch).remove();
      // }
      // function delete_this_batch(batch) {
      //    $(batch).parent().remove();
      //  }
 
</script>

<%= nested_form_for(@event) do |f| %>
  <!-- Extract this in a partial -->
  <%#= render 'event_error' %>

  <div class="field">
    <%= f.label :event_date %><br />
    <%= f.datepicker :event_date %>
  </div><br /><br /><br /><br /><br /><br /><br /><br />

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :experience %><br />
		<!-- Extract choices in a constant -->
    <%= f.select("experience", EXPERIENCE, {:prompt => '--Select Experience--'}) %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, :onblur => "show_map();" %>
  </div>

  <div id="map">
    <iframe src="/google_map/index/?lat=28.635308&lon=77.22496&zoom=15" width="300" height="300"></iframe>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :category %><br />
    <%= f.select("category", CATEGORY, {:prompt => '--Select Category--'}) %>
  </div>

  <div class="field">
    <%= f.label :tech_spec %><br />
    <%= f.text_field :tech_spec %>
  </div>
  
  
  <%= f.fields_for :batches %>
  
  <p><%= f.link_to_add "Add a task", :batches %></p>
  
  
  <br /><h3> Batches: </h3>
    <%#= f.fields_for :batches do |builder| %>
      <%#= render :partial => 'batch_fields', :locals => { :builder => builder } %>
    <%# end %>
    
  <%#= link_to_add_field "Add Batch", f, :batches %>    
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>