#triple_break
  #heading
    Events >>
%table#candidate_table
  %tr
    %th
      Event date
    %th
      Name
    %th
      Experience
    %th
      Category
    %th
      Tech spec
    %th
      No. Of Batches
    %th
      Action
  - @events.each do |event|
    %tr
      %td
        = event.scheduled_at.strftime("%b %d, %Y")
      %td
        = event.name
      %td
        = event.experience
      %td
        = event.category.name
      %td
        = event.tech_spec
      %td
        = event.batches.count
      %td
        - if event.scheduled_at.today? or event.scheduled_at.future?
          %span#link_list
            = link_to 'Show', event
            |
            \#{link_to 'Edit', edit_event_path(event)}
            |
            \#{link_to 'Delete', event, :confirm => 'Are you sure?', :method => :delete}
        - else
          No Action Available
= will_paginate @events