- if notice
  #double_break
    %p#notice
      = notice
#double_break
  #heading_a
    ADMIN CONTROL PANEL
- unless (@events.empty?)
  #single_break
    %h2#heads
      CREATE NEW EVENT :
  #triple_break
    %p#links
      = link_to 'Add New Event', new_event_path
  %p#line
  #double_break
    %h2#heads
      UP COMING EVENTS:
    %br/
    - @events.each do |event|
      - if event.event_date.today? or event.event_date.future?
        #event_list
          %br/
          #single_break
            %h3
              %b
                Event Name:#{event.name}
          #single_break
            %u
              DATE
            \:#{event.event_date.strftime("%b/%d/%y")}
          #single_break
            %u
              EXPERIENCE
            \:#{event.experience}
          #single_break
            %u
              VENUE
            \:#{event.location}
          #single_break
            %u
              DESCRIPTION
            \:#{event.description}
          #single_break
            %u
              CATEGORY
            \:#{event.category}
          #single_break
            %u
              TECHNICAL SPECIFICATIONS
            \:#{event.tech_spec}
          #single_break
            %u
              NUMBER OF BATCHES
            \:#{event.batches.count}
          #double_break
            %p#link_list
              = link_to 'View Confirmed List', event
              |
              \#{link_to 'View Wait List', wait_list_event_path(event)}
              |
              \#{link_to 'Edit Event', edit_event_path(event)}
              |
              \#{link_to 'Delete Event', event, :confirm => 'Are you sure?', :method => :delete}
- else
  %h2#heads
    SORRY NO EVENTS CREATED YET!
  %br/
  %p#links
    = link_to 'Add New Event', new_event_path
  %p#line
%p#line
#single_break
  %h2#heads
    REGISTERED CANDIDATES :
#triple_break
  %p#links
    = link_to 'View All Registered Candidates', candidates_path
    |
    \#{link_to 'Star Candidates', starred_list_candidates_path}