<% if notice %>
  <p id='notice'><%= notice%></p>
<% end %>
<h1>ADMIN CONTROL PANEL</h1><br />
<br />
<h4>UP COMING EVENTS:</h4><br />
<% unless (@events.empty?) %>
  	<!--  Should be displayed only if any records exist -->
  <% @events.each do |event| %>
    <br /><b>Event Name:<%= event.name %></b><br />
    <u>DATE</u>:<%= event.event_date.strftime("%d/%b/%Y") %><br />
    <u>EXPERIENCE</u>:<%= event.experience %><br />
    <u>VENUE</u>:<%= event.location %><br />
    <u>DESCRIPTION</u>:<%= event.description %><br />
    <u>CATEGORY</u>:<%= event.category %><br />
    <u>TECHNICAL SPECIFICATIONS</u>:<%= event.tech_spec %><br />
    <u>NUMBER OF BATCHES</u>:<%= event.batches.count %><br />
    <%= link_to 'Show', event %> | 
    <%= link_to 'Edit Event', edit_event_path(event) %> |
    <%= link_to 'Delete Event', event, :confirm => 'Are you sure?', :method => :delete %>
    <br />
  <% end %>
  <br />
  <br />
  <h4>CREATE NEW EVENT :</h4>
  <%= link_to 'Add New Event', new_event_path %>
<% else %>
  <h4>Sorry no events created</h4>
  <%= link_to 'Add New Event', new_event_path %>
<% end %>

