<% if notice %>
  <p id='notice'><%= notice%></p>
<% end %>
<br /><br /><div id="heading_a">ADMIN CONTROL PANEL</div><br /><br />
<% unless (@events.empty?) %>
  <h2 id="heads">CREATE NEW EVENT :</h2><br />
  <p id="links"><%= link_to 'Add New Event', new_event_path %></p><br /><br /><br />
  <p id="line"></p><br/><br />
  <h2 id="heads">UP COMING EVENTS:</h2><br />
  <% @events.each do |event| %>
    <% if event.event_date.today? or event.event_date.future?  %>
    <div id="event_list">
      <br /><h3><b>Event Name:<%= event.name %></b></h3><br />
      <u>DATE</u>:<%= event.event_date %><br />
      <u>EXPERIENCE</u>:<%= event.experience %><br />
      <u>VENUE</u>:<%= event.location %><br />
      <u>DESCRIPTION</u>:<%= event.description %><br />
      <u>CATEGORY</u>:<%= event.category %><br />
      <u>TECHNICAL SPECIFICATIONS</u>:<%= event.tech_spec %><br />

      <u>NUMBER OF BATCHES</u>:<%= event.batches.count %><br />

      <p id="link_list">
        <%= link_to 'View Confirmed List', event %> | 
         <%= link_to 'View Wait List', wait_list_event_path(event) %> |
        <%= link_to 'Edit Event', edit_event_path(event) %> |
        <%= link_to 'Delete Event', event, :confirm => 'Are you sure?', :method => :delete %>
      </p>
      <br />
    </div>
    <% end %>
  <% end %>
  <br />
  <br />
<% else %>
<h2 id="heads">Sorry no events created</h2><br />
<p id="links"><%= link_to 'Add New Event', new_event_path %></p><br /><br /><br />
<p id="line"></p><br/><br />
<% end %>
<p id="line"></p><br/><br />
<h2 id="heads">REGISTERED CANDIDATES :</h2><br />
<p id="links"><%= link_to 'View All Registered Candidates', candidates_path %>|
<%= link_to 'Star Candidates', starred_list_candidates_path %></p><br /><br /><br />

