<div id="heading">Past Walk-Ins</div><br />
<br /><%= link_to 'Back', events_path %><br />
<br /><table id="candidate_table">
  <tr>
    <th>Event date</th>
    <th>Name</th>
    <th>Experience</th>
    <th>Location</th>
    <th>Description</th>
    <th>Category</th>
    <th>Tech spec</th>
    <th>No. Of Batches</th>
  </tr>



<% @events.each do |event| %>
  <!-- Out this in controller -->
      <tr>
        <td><%= event.event_date.strftime("%d/%b/%Y") %></td>
        <td><%= event.name %></td>
        <td><%= event.experience %></td>
        <td><%= event.location %></td>
        <td><%= event.description %></td>
        <td><%= event.category %></td>
        <td><%= event.tech_spec %></td>
        <td><%= event.batches.count %></td>
      </tr>
<% end %>
</table>