<p id="notice"><%= notice %></p>

<p>
  <b>Event date:</b>
  <%= @event.event_date %>
</p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>
<h3>Registered Candidates:</h3><br />

<% form_tag event_mark_attended_path(@event) do %>
  <table>
    <tr>
      <th>Name</th>
      <th>Attended</th>
    </tr>
  <% @events_candidates.each do |e| %>
    <% if ( e.cancellation == false and e.attended == false )%>
      <tr>
        <td><%= e.candidate.name %></td>
        <td><%= check_box_tag(e.candidate.id) %></td>
      </tr>
    <% else %>
      <tr><h5>NO RAGISTRATIONS YET</h5></tr><br /><br />
    <% end %>
  <% end %>
  </table>
  <div class="actions">
    <%= submit_tag 'Mark Attended' %>
  </div>
<% end %>

<%= link_to 'Back', events_path %>

