#single_break
  %h3
    %b
      Event Name:#{@event.name}
#single_break
  %u
    DATE
  \:#{@event.event_date.strftime("%b/%d/%y")}
#single_break
  %u
    EXPERIENCE
  \:#{@event.experience}
#single_break
  %u
    VENUE
  \:#{@event.location}
#single_break
  %u
    DESCRIPTION
  \:#{@event.description}
#single_break
  %u
    CATEGORY
  \:#{@event.category.name}
#single_break
  %u
    TECHNICAL SPECIFICATIONS
  \:#{@event.tech_spec}
#single_break
  %u
    NUMBER OF BATCHES
  \:#{@event.batches.count}
#double_break
  %p#link_list
    = link_to 'View Confirmed List'
    |
    \#{link_to 'View Wait List', wait_list_event_path(@event)}
    |
    \#{link_to 'Back', events_path}