<p id="notice"><%= notice %></p>

<p>
  <b>Event date:</b>
  <%= @event.event_date %>
</p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<h3>Registered Candidates:</h3><br />
<% @events_candidate.each do |events_candidate| %>
  <% @candidates.each do |candidate| %>
    <% if events_candidate.candidate_id == candidate.id %>
      NAME: <%= candidate.name %><br />
    <% end %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
