<script>

function mark_selected(candidate_id) {
	$.ajax({
		url : "<%= mark_selected_candidates_path %>",
		dataType : 'script',
		type : 'get',
		data : "candidate_id="+ candidate_id
	});
}
function mark_rejected(candidate_id) {
	$.ajax({
		url : "<%= mark_rejected_candidates_path %>",
		dataType : 'script',
		type : 'get',
		data : "candidate_id="+ candidate_id
	});
}
</script>

<p id="notice"><%= notice %></p>
<h1>Registered Candidates</h1><br />
<%= link_to 'Back', events_path %>
<div id="search">
	<p>
  	<h3 style="display:inline"><b>Event date:</b></h3>
  	<%= @event.event_date.strftime("%b %d, %Y") %>
	</p>

	<p>
  	<h3 style="display:inline"><b>Name:</b></h3>
  	<%= @event.name %>
	</p>
</div>

<br />

<% if @events_candidates.empty? %>
  <h3 style="text-align:center;color:red;margin-top:40px">NO REGISTRATIONS FOR THIS EVENT</h3>
<% else %>
 <div id="search_category">
   <table id="candidate_table">
     <tr>
       <th>Name</th>
       <th>ID</th>
       <th>Salary Expected</th>
       <th>Batch ID</th>
       <th>Attended</th>
       <th>Status</th>
     </tr>
   <%= form_tag mark_attended_event_events_candidates_path(@event) do %>
     <% @events_candidates.each do |e| %>
       <% if !e.attended %>
         <tr>
           <td style="width:1px"><%= e.candidate.name %></td>
           <td style="width:1px"><%= e.candidate.id %></td>
           <td style="width:1px"><%= e.candidate.salary_exp %></td>
           <td style="width:1px"><%= e.candidate.batches.first.id %></td>
           <% if e.waitlist %>
            <td style="width:1px">WAIT LISTED</td>
           <% else %>
            <td style="width:1px"><%= check_box_tag("attended[#{e.id}]")%></td>
           <% end %>
           <td>NO STATUS YET</td>
         </tr>
       <% else %>
         <tr>
           <td style="width:1px"><%= e.candidate.name %></td>
           <td style="width:1px"><%= e.candidate.id %></td>
           <td style="width:1px"><%= e.candidate.salary_exp %></td>
           <td style="width:1px"><%= e.candidate.batches.first.id %></td>
           <td style="width:1px"><%= image_tag("check.jpg") %></td>
           <% if e.status.nil? %>
            <td style="width:5px">
               <span id = "status_<%= e.candidate.id %>">
                 <span id= "select_<%= e.candidate.id %>" onclick = 'mark_selected(<%= e.candidate.id %>)'><u>SELECTED</u></span> |
                 <span id= "reject_<%= e.candidate.id %>" onclick = 'mark_rejected(<%= e.candidate.id %>)'><u>REJECTED</u></span>
               </span>
             </td>
           <% elsif !e.status %>
            <td style="width:1px"><%= image_tag("red.jpg") %></td>
           <% else %>
            <td style="width:1px"><%= image_tag("green.jpg") %></td>
           <% end %>
         </tr>
       <% end %>
     <% end %>
     </table>
 		</div>
 		<br />
		<div class="actions" style="float:right;margin-right:170px">
 		<%= submit_tag 'Mark Attended' %>
 		</div>
 <% end %>
<% end %>