:javascript
  function mark_selected(candidate_id, event_id) {
  	$.ajax({
  		url : "#{mark_selected_candidates_path}",
  		dataType : 'script',
  		type : 'get',
  		data : "candidate_id="+ candidate_id+"&event_id="+ event_id
  	});
  }
  function mark_rejected(candidate_id, event_id) {
  	$.ajax({
  		url : "#{mark_rejected_candidates_path}",
  		dataType : 'script',
  		type : 'get',
  		data : "candidate_id="+ candidate_id+"&event_id="+ event_id
  	});
  	
  }
  
  function editor(candidate_id) {
    $.ajax({
  		url : "#{edit_status_candidates_path}",
  		dataType : 'script',
  		type : 'get',
  		data : "candidate_id="+ candidate_id
  	});
  }
%p#notice
  = notice
#double_break
  #heading
    RegisteredCandidates>>

%h3{:style => "display:inline;margin-left:41%"}
  %b
    Event date:
%u
  = @event.event_date.strftime("%b %d, %Y")
#single_break
  %h3{:style => "display:inline;margin-left:41%"}
    %b
      Name:
  %u
    = @event.name
- if @events_candidates.empty?
  %h3{:style => "text-align:center;color:red;margin-top:40px"}
    NO REGISTRATIONS FOR THIS EVENT
- else
  #search_category
    %table#candidate_table
      %tr
        %th
          Name
        %th
          ID
        %th
          Salary Expected
        %th
          Resume
        %th
          Attended
        %th
          Status
      = form_tag mark_attended_event_events_candidates_path(@event) do
        - @events_candidates.each do |e|
          - if e.alloted?
            %tr
              - candidate = e.candidate
              %td
                = candidate.name
              %td
                = candidate.id
              %td
                = candidate.salary_exp
              %td
                = link_to "Download", download_resume_candidate_path(e.candidate.id)
              %td
                = check_box_tag("attended[#{e.id}]")
              %td
                NO STATUS YET
          - elsif (e.attended? or e.selected? or e.rejected?)
            %tr
              %td
                = e.candidate.name
              %td
                = e.candidate.id
              %td
                = e.candidate.salary_exp
              %td
                = link_to "Download", download_resume_candidate_path(e.candidate.id)
              %td
                = image_tag("check.jpg")
              - if e.rejected?
                %td
                  = image_tag("red.jpg")
                  = link_to 'EDIT', edit_status_candidates_path(e.candidate.id,:event_id => e.event.id)
              - elsif e.selected?
                %td
                  = image_tag("green.jpg")
                  = link_to 'EDIT', edit_status_candidates_path(e.candidate.id,:event_id => e.event.id)
              - else
                %td
                  %span{:id => "status_#{e.candidate.id}"}
                    %span{:id => "select_#{e.candidate.id}", :onclick => "mark_selected(#{e.candidate.id}, #{e.event.id})"}
                      %u
                        SELECTED
                    |
                    %span{:id => "reject_#{e.candidate.id}", :onclick => "mark_rejected(#{e.candidate.id}, #{e.event.id})"}
                      %u
                        REJECTED

        - if @event.event_date.today?
          .actions{:style => "float:right;margin-right:170px"}
            = submit_tag 'Mark Attended'
        - else
          %div{:style => "float:right;margin-right:170px;color:red;font-size:1.5em"} Attendance Marking Will Be Available On/After Event Date