#heading
  WaitListed Candidates >>
  = link_to 'Back', event_path(@event)
%div
  %table#candidate_table
    %tr
      %th
        ID
      %th
        Name
      %th
        Experience
      %th
        Current State
    - @events_candidates.each do |e|
      #mark
      %tr
        %td
          = e.candidate.id
        %td
          = e.candidate.name
        %td
          = e.experience
        %td
          = e.candidate.current_state
= will_paginate @events_candidates