%p#notice
  = notice
%span#display
#heading
  RegisteredCandidates>>
  = link_to 'Back', event_path(@event)
#new_head_conf
  %b
    Event date:
%u
  = @event.scheduled_at.strftime("%b %d, %Y")
#single_break
  #new_head_conf
    %b
      Name:
  %u
    = @event.name
- if @events_candidates.empty?
  #no_registration
    NO REGISTRATIONS FOR THIS EVENT
- else
  #search_category
    %table#candidate_table
      %tr
        %th
          Name
        %th
          ID
        %th
          Salary Expected
        %th
          Resume
        %th
          Attended
        %th
          Status
      = form_tag mark_attended_event_events_candidates_path(@event), :remote => true do
        - @events_candidates.each do |e|
          - if e.alloted?
            %tr
              - candidate = e.candidate
              %td
                = candidate.name
              %td
                = candidate.id
              %td
                = e.salary_exp
              %td
                = link_to "Download", download_resume_events_candidate_path(e.id)
              %td{:id => "attend_#{e.id}"}
                = check_box_tag("events_candidates[ids][]", e.id)
              %td
                %span{:id => "status_#{e.candidate.id}"}
                  NO STATUS YET
          - elsif (e.attended? or e.selected? or e.rejected?)
            %tr
              %td
                = e.candidate.name
              %td
                = e.candidate.id
              %td
                = e.salary_exp
              %td
                = link_to "Download", download_resume_events_candidate_path(e.id)
              %td
                = image_tag("check.jpg")
              - if e.rejected?
                %td
                  = image_tag("red.jpg")
                  = link_to 'EDIT', edit_status_event_candidate_path(e.event.id,e.candidate.id)
              - elsif e.selected?
                %td
                  = image_tag("green.jpg")
                  = link_to 'EDIT', edit_status_event_candidate_path(e.event.id,e.candidate.id)
              - else
                %td
                  = render :partial => 'result_mark', :locals => {:ele => e}
        - if @event.scheduled_at.today?
          #att_button
            = submit_tag 'Mark Attended'
        - else
          #att_button
            Attendance Marking Will Be Available On/After Event Date
  = will_paginate @events_candidates