#odd_f
  .field
    = f.label :salary_exp
    %br/
    = f.select(:salary_exp, SALARY, {:prompt => '--Select Expected Salary--'})
#odd_f
  .field
    = f.label :resume
    %br/
    %sup
      (Upload only .doc/.docx/.txt/.pdf file types)
    %br/
    = f.file_field :resume
    = hidden_field_tag 'candidate[events_candidates_attributes][0][event_id]', params[:event_id]