<div id="main_candidate">
  <%= form_for @candidate, :html => { :multipart => true } do |f| %>
	<!-- Move in partial -->
  <%= render 'candidate_error' %>
   <div id="even_f">
     <div class="field">
       <%= f.label :email %><br />
       <%= f.text_field :email, :size => 55 %>
     </div>
   </div>

   <div id="odd_f">
     <div class="field">
       <%= f.label :name %><br />
       <%= f.text_field :name, :size => 55 %>
     </div>
   </div>

   <div id="even_f">
     <div class="field">
       <%= f.label :address %><br />
       <%= f.text_area :address, :rows => 4, :columns => 10 %>
     </div>
   </div>

   <div id="odd_f">
     <div class="field">
       <%= f.label :dob, "Date Of Birth" %><br />
       <%= f.date_select :dob %>
     </div>
   </div>

    <br /><br /><br />

   <div id="even_f">
     <div class="field">
       <%= f.label :home_town %><br />
       <%= f.text_field :home_town, :size => 55 %>
     </div>
   </div>

   <div id="odd_f">
     <div class="field">
       <%= f.label :current_state %><br />
       <%= f.select(:current_state, STATE, {:prompt => '--Select Current State--'}) %>
     </div>
   </div>

   <div id="even_f">
     <div class="field">
       <%= f.label :mobile_number %><br />
       <%= f.text_field :mobile_number, :size => 55 %>
     </div>
   </div>

   <div id="odd_f">
     <div class="field">
       <%= f.label :experience %><br />
       <%= f.select("exp", EXPERIENCE, {:prompt => '--Select Experience--'}) %>
     </div>
   </div>

   <div id="even_f" style="margin-right:60px">
     <div class="field">
       <%= f.label :resume %><br />
       <%= f.file_field :resume %>
     </div>

     <%= hidden_field_tag :event_id, params[:event_id] %>
   </div>

   <div id="odd_f">
     <div class="field">
       <%= f.label :salary_exp %><br />
       <%= f.select(:salary_exp, SALARY, {:prompt => '--Select Expected Salary--'}) %>
     </div>
   </div>

   <div><%= check_box_tag 'accept' %>I Agree to terms and conditions laid by VinSol.</div>
   <div class="actions" id="even_f">
     <%= f.submit %>
   </div>
  <% end %>
</div>