#main_candidate
  = form_for @candidate, :html => { :multipart => true } do |f|
    = render 'candidate_error'
    #even_f
      .field
        = f.label :email
        %br/
        = f.text_field :email, :size => 55
    #odd_f
      .field
        = f.label :name
        %br/
        = f.text_field :name, :size => 55
    #even_f
      .field
        = f.label :address
        %br/
        = f.text_area :address, :rows => 4, :columns => 10
    #odd_f
      .field{:style => "margin-bottom:40px"}
        = f.label :dob, "Date Of Birth"
        %br/
        = f.date_select :dob, :start_year => 1980, :end_year => 1990, :prompt => {:day => 'Select day', :month => 'Select month', :year => 'Select year'}

    #even_f{:style => "margin-left:300px"}
      .field
        = f.label :home_town
        %br/
        = f.text_field :home_town, :size => 55
    #odd_f
      .field{:style => "margin-top:20px; display:inline"}
        = f.label :current_state
        %br/
        = f.select(:current_state, STATE, {:prompt => '--Select Current State--'})
    #even_f{:style => "margin-right:5px"}
      .field
        = f.label :mobile_number
        %br/
        (+91)#{f.text_field :mobile_number, :size => 45}
    #odd_f{:style => "margin-top:20px"}
      .field
        = f.label :salary_exp
        %br/
        = f.select(:salary_exp, SALARY, {:prompt => '--Select Expected Salary--'})
    #odd_f{:style => "margin-right:20px"}
      .field
        = f.label :resume
        %br/
        %span{:style => "font-size:15px"}
          (Upload only .doc/.docx/.txt/.pdf file types)
        %br/
        = f.file_field :resume
      = hidden_field_tag :event_id, params[:event_id]
    %div{:style => "margin-top:50px"}
      = f.check_box 'terms'
      I Agree to terms and conditions laid by VinSol.
    .actions
      = f.submit ""
