%table#candidate_table
  %tr
    %th
      Important
    %th
      ID
    %th
      Name
    %th
      Current State
    %th
      Resume
    %th
  - @events_candidates.each do |e|
    #mark
    %tr
      - if !e.candidate.starred
        %td
          %span{:id => "span_#{e.candidate.id}", :onclick => "mark_candidate(#{e.candidate.id})"}
            %u
              = image_tag("empty_star.png")
      - else
        %td
          %span{:id => "span_#{e.candidate.id}"}
            = image_tag("star.png")
      %td
        = e.candidate.id
      %td
        = e.candidate.name
      %td
        = e.candidate.current_state
      %td
        = link_to "Download", download_resume_events_candidate_path(e.id)
      %td
        = link_to(image_tag("delete.png"), candidate_path(e.candidate.id), :confirm => 'Are you sure?', :method => :delete)
                
= will_paginate @events_candidates