%table#candidate_table
  %tr
    %th
      Important
    %th
      ID
    %th
      Name
    %th
      Current State
    %th
      Resume
    %th
  - @candidates.each do |candidate|
    #mark
    %tr
      - if !candidate.starred
        %td
          %span{:id => "span_#{candidate.id}", :onclick => "mark_candidate(#{candidate.id})"}
            %u
              = image_tag("empty_star.png")
      - else
        %td
          %span{:id => "span_#{candidate.id}"}
            = image_tag("star.png")
      %td
        = candidate.id
      %td
        = candidate.name
      %td
        = candidate.current_state
      %td
        = link_to "Download", download_resume_candidate_path(candidate.id)
      %td
        %span{:id => "delete_#{candidate.id}", :onclick => "delete_candidate(#{candidate.id})"}
          = image_tag("delete.png")
        
= will_paginate @candidates