<table>
  <tr>
    <th>Important</th>
    <th>ID</th>
    <th>Name</th>
    <th>Experience</th>
    <th>Current State</th>
    <th>Resume</th>
    <th>Delete Candidate</th>
  </tr>
<% @events.each do |event| %>
  <% event.candidates.each do |candidate| %>
    <div id="mark">
      <tr>
        <% if !candidate.starred %>
          <td><span id= "span_<%= candidate.id %>" onclick = 'mark_candidate(<%= candidate.id %>)'><u>Mark</u></span></td>
        <% else %>
          <td><span id= "span_<%= candidate.id %>" >****</span></td>
        <% end %>
        <td><%= candidate.id %></td>
        <td><%= candidate.name %></td>
        <td><%= candidate.exp %></td>
        <td><%= candidate.current_state %></td>
        <td><%= link_to "Download Resume", download_resume_candidate_path(candidate.id) %></td>
        <td><span id= "delete_<%= candidate.id %>" onclick = 'delete_candidate(<%= candidate.id %>)'><u>Delete</u></span></td>
      </tr>
    </div>
  <% end %>
<% end %>
</table>