%table#candidate_table
  %tr
    %th
      Important
    %th
      ID
    %th
      Name
    %th
      Current State
    %th
      Resume
  - @events_candidates.each do |e|
    #mark
    %tr
      %td
        = image_tag("star.png")
      %td
        = e.candidate.id
      %td
        = e.candidate.name
      %td
        = e.candidate.current_state
      %td
        = link_to "Download", download_resume_events_candidate_path(e.id)

= will_paginate @events_candidates