<div id="admitcard"><%= image_tag("Vinsol_thumb.png") %>Admit Card<br />
</div><br /><br />
<div id="admitcard_body">
 Dear <%= @candidate.name %>,<br />
 Following are your VinSol Walk-in Details:<br/><br/>
 Event Name: <%= @event.name %><br/>
 
 Date : <%= @event.event_date %><br/>
 Roll Number : <%= @candidate.events_candidates.first.roll_num %><br />
 Venue : <%= @event.location %><br/>
 Time : <%= @candidate.batches.first.start_time.strftime('%H:%M') %> Hrs<br /> 
 
 For any further queries please contact : 011-45675342
 <br/><br/>
</div>
<%= link_to "Download Admit Card (PDF)", admitcard_event_candidate_path( :format => "pdf", :layout => "admitcard" ) %>