:javascript
  function mark_candidate(candidate_id) {
  	$.ajax({
  		url : "#{mark_star_candidate_path("candidate_id")}",
  		dataType : 'script',
  		type : 'get',
  		data : "candidate_id="+ candidate_id
  	});
  }
  
  function s_category() {
  	$.ajax({
  		url : "#{find_category_candidates_path}",
  		dataType : 'script',
  		type : 'get',
  		data : "category="+$("#category").val()+"&page=index"
  	});
  }

#heading
  Listing Candidates >>
%br/
%br/
#search
  SEARCH PANEL:
  \#{select_tag('category', options_for_select(fetch_category), :include_blank => "- Select -", :onChange => "s_category();")}
#search_category
  - if(params[:type])
    = render 'candidates_starred'
  - else
    = render 'candidates_all'
%p
  = will_paginate @candidates
%br/
