<h1>Listing candidates</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Dob</th>
    <th>Address</th>
    <th>Current state</th>
    <th>Home town</th>
    <th>Email</th>
    <th>Mobile num</th>
    <th>Exp</th>
    <th>Salary exp</th>
    <th>Batch</th>
    <th>Starred</th>
    <th>Resume</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @candidates.each do |candidate| %>
  <tr>
    <td><%= candidate.name %></td>
    <td><%= candidate.dob %></td>
    <td><%= candidate.address %></td>
    <td><%= candidate.current_state %></td>
    <td><%= candidate.home_town %></td>
    <td><%= candidate.email %></td>
    <td><%= candidate.mobile_num %></td>
    <td><%= candidate.exp %></td>
    <td><%= candidate.salary_exp %></td>
    <td><%= candidate.batch_id %></td>
    <td><%= candidate.starred %></td>
    <td><%= candidate.resume %></td>
    <td><%= link_to 'Show', candidate %></td>
    <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
    <td><%= link_to 'Destroy', candidate, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Candidate', new_candidate_path %>
