:javascript
  function mark_candidate(candidate_id) {
  	$.ajax({
  		url : "#{mark_candidate_star_candidates_path}",
  		dataType : 'script',
  		type : 'get',
  		data : "candidate_id="+ candidate_id
  	});
  }
  
  function s_category() {
  	$.ajax({
  		url : "#{find_category_candidates_path}",
  		dataType : 'script',
  		type : 'get',
  		data : "category="+$("#category").val()+"&page=index"
  	});
  }

#heading
  Listing Candidates >>
%br/
%br/
#search
  SEARCH PANEL:
  \#{select_tag('category', options_for_select(fetch_category), :include_blank => "- Select -")}
  <input type="button", value="SEARCH", onclick="s_category();" >
#search_category
  %table#candidate_table
    %tr
      %th
        Important
      %th
        ID
      %th
        Name
      %th
        Current State
      %th
        Resume
      %th
        
    - @candidates.each do |candidate|
      #mark
      %tr
        - if !candidate.starred
          %td
            %span{:id => "span_#{candidate.id}", :onclick => "mark_candidate(#{candidate.id})"}
              %u
                = image_tag("empty_star.png")
        - else
          %td
            %span{:id => "span_#{candidate.id}"}
              = image_tag("star.png")
        %td
          = candidate.id
        %td
          = candidate.name
        %td
          = candidate.current_state
        %td
          = link_to "Download", download_resume_candidate_path(candidate.id)
        %td
          = link_to(image_tag("delete.png"), candidate, :confirm => 'Are you sure?', :method => :delete)
%p
  = will_paginate @candidates
%br/
