<script>

function mark_candidate(candidate_id) {
	$.ajax({
		url : "<%= mark_candidate_star_candidates_path %>",
		dataType : 'script',
		type : 'get',
		data : "candidate_id="+ candidate_id
	});
}

function s_category() {
	$.ajax({
		url : "<%= find_category_candidates_path %>",
		dataType : 'script',
		type : 'get',
		data : "category="+$("#category").attr("value")
	});
}

function delete_candidate(candidate_id) {
	$.ajax({
		url : "<%= delete_candidate_candidates_path() %>",
		dataType : 'script',
		type : 'get',
		data : "candidate_id="+ candidate_id
	});
}
</script>

<h1>Listing candidates</h1><br /><br />
<%= link_to 'Back', events_path %>

<div id="search">SEARCH PANEL:
<%= select_tag('category', options_for_select([['SELECT CATEGORY', 'SELECT CATEGORY'], ['Ruby On Rails Developer', 'Ruby On Rails Developer'], ['Android Developer', 'Android Developer'], ['PHP Developer', 'PHP Developer'], ['Project Manager', 'Project Manager']])) %>
<input type="button", value="SEARCH", onclick="s_category();" ></div>

<div id="search_category">
	<table id="candidate_table">
		<tr>
			<th>Important</th>
			<th>ID</th>
			<th>Name</th>
			<th>Experience</th>
			<th>Current State</th>
			<th>Resume</th>
			<th>Delete Candidate</th>
		</tr>

		<% @candidates.each do |candidate| %>
		<div id="mark">
			<tr>
				<% if !candidate.starred %>
				<td style="width:5px"><span id= "span_<%= candidate.id %>" onclick = 'mark_candidate(<%= candidate.id %>)'>
					<u>Mark</u></span>
				</td>
				<% else %>
				<td style="width:5px"><span id= "span_<%= candidate.id %>" ><%= image_tag("star.png") %></span></td>
				<% end %>
				<td><%= candidate.id %></td>
				<td><%= candidate.name %></td>
				<td><%= candidate.exp %></td>
				<td><%= candidate.current_state %></td>
				<td style="width:5px"><%= link_to "Download", download_resume_candidate_path(candidate.id) %></td>
				<td style="width:5px"><span id= "delete_<%= candidate.id %>" onclick = 'delete_candidate(<%= candidate.id %>)' confirm ='Are you sure?'><%= image_tag("delete.png") %></span></td>
			</tr>
		</div>
		<% end %>
	</table>
	<p><%= will_paginate @candidates %></p>
</div>
<br /> 

