:javascript
  function mark_candidate(candidate_id) {
  	$.ajax({
  		url : "#{mark_star_candidate_path("candidate_id")}",
  		dataType : 'script',
  		type : 'get',
  		data : "candidate_id="+ candidate_id
  	});
  }
  
  function s_category(ele) {
  	$.ajax({
  		url : "#{find_category_candidates_path}",
  		dataType : 'script',
  		type : 'get',
  		data : "category="+$("#category").val()+"&page="+ele
  	});
  }
%br/
%br/
- if(params[:type] == 'starred')
  = render 'candidates_starred'
- elsif(params[:event_id] && params[:type] == 'waitlist_candidates')
  = render 'candidates_waitlist'
- elsif(params[:event_id] && params[:type] == 'confirmed_candidates')
  = render 'candidates_confirmed'
- else
  = render 'candidates_all'
