- if notice
  %p#notice
    = notice
= link_to 'HOME', root_path
>>
\#{link_to 'WALK-INS', walkins_path}
%br/
%br/
%p#head
  Welcome To VinSol Registration
#search
  %p
  %h3{:style => "display:inline"}
    %b
      Event date:
  = @event.event_date.strftime("%b %d, %Y")
  %p
  %h3{:style => "display:inline"}
    %b
      Name:
  = @event.name
  %p
  %h3{:style => "display:inline"}
    %b
      Experience:
  %span#exp_data    
    = @event.experience
%br/
%br/
= render 'form'
