- if notice
  %p#notice
    = notice
= link_to 'HOME', root_path
>>
\#{link_to 'WALK-INS', walkins_path}
%br/
%br/
%p#head
  Welcome To VinSol Registration
#search
  %p
  #new_head
    %b
      Event date:
    = @event.event_date.strftime("%b %d, %Y")
  %p
  #new_head
    %b
      Name:
    = @event.name
  %p
  #new_head
    %b
      Experience:
    %span#exp_data    
      = @event.experience
%br/
%br/
= render 'form'
