<% if notice %>
  <p id='notice'><%= notice%></p>
<% end %>


<%= link_to 'HOME', root_path %> >>
<%= link_to 'WALK-INS', walkins_path %>

<br /><br />

<p id="head">Welcome To VinSol Registration</p>
<div id="search">
	<p>
  	<h3 style="display:inline"><b>Event date:</b></h3>
  	<%= @event.event_date.strftime("%b %d, %Y") %>
	</p>

	<p>
  	<h3 style="display:inline"><b>Name:</b></h3>
  	<%= @event.name %>
	</p>
</div><br /><br />

<%= render 'form' %>