
<script>

function s_category() {
	$.ajax({
		url : "<%= find_star_category_candidates_path %>",
		dataType : 'script',
		type : 'get',
		data : "category="+$("#category").attr("value")
	});
}
</script>
<div id="heading">Starred Candidates</h1><br /><br />
<%= link_to 'Back', events_path %>

<div id="search">SEARCH PANEL:
<%= select_tag('category', options_for_select([['SELECT CATEGORY', 'SELECT CATEGORY'], ['Ruby On Rails Developer', 'Ruby On Rails Developer'], ['Android Developer', 'Android Developer'], ['PHP Developer', 'PHP Developer'], ['Project Manager', 'Project Manager']])) %>
<input type="button", value="SEARCH", onclick="s_category();" ></div>

<div id="search_star_category">
	<table id="candidate_table">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Experience</th>
			<th>Current State</th>
			<th>Resume</th>
		</tr>

		<% @candidates.each do |candidate| %>
		<div id="mark">
			<tr>
				<td style="width:5px"><%= image_tag("star.png") %><%= candidate.id %></td>
				<td><%= candidate.name %></td>
				<td><%= candidate.exp %></td>
				<td><%= candidate.current_state %></td>
				<td style="width:5px"><%= link_to "Download", download_resume_candidate_path(candidate.id) %></td>
			</tr>
		</div>
		<% end %>
	</table>
</div>
<br /> 

