:javascript
  function s_category() {
  	$.ajax({
  		url : "#{find_category_candidates_path}",
  		dataType : 'script',
  		type : 'get',
  		data : "category="+$("#category").val()+"&page=star"
  	});
  }
#heading
  #double_break
    Starred Candidates >>
#search
  SEARCH PANEL:
  \#{select_tag('category', options_for_select(fetch_category), :include_blank => "- Select -", :onChange => "s_category();")}
#search_star_category
  %table#candidate_table
    %tr
      %th
        ID
      %th
        Name
      %th
        Current State
      %th
        Resume
    - @candidates.each do |candidate|
      #mark
      %tr
        %td
          = image_tag("star.png")
          = candidate.id
        %td
          = candidate.name
        %td
          = candidate.current_state
        %td
          = link_to "Download", download_resume_candidate_path(candidate.id)
%br/
