<style>
body { background-color:#000}
</style>
<% if notice %>
  <p id='notice'><%= notice%></p>
<% end %>
<div class="bokeh" id="plain"></div>
<div class="bokeh" id="plain1"></div>
<div class="bokeh" id="plain2"></div>
<div class="bokeh" id="plain3"></div>
<div class="bokeh" id="plain4"></div>
<div class="bokeh" id="plain5"></div>
<div class="bokeh2" id="plain6"></div>
<div class="bokeh" id="plain7"></div>
<div class="bokeh" id="plain8"></div>
<div class="bokeh" id="plain9"></div>
<div class="bokeh" id="plain10"></div>
<div class="bokeh" id="plain11"></div>
<div class="bokeh" id="plain12"></div>
<div class="bokeh2" id="plain13"></div>
<div class="bokeh2" id="plain14"></div>
<div class="bokeh" id="plain15"></div>
<div class="bokeh2" id="plain16"></div>
<div class="bokeh" id="plain17"></div>
<div id="ad_signin">
  <h2>Sign in</h2>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :email %><br />
    <%= f.email_field :email %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "Sign in" %></div>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>