- if notice
  #double_break
    %p#notice
      = notice
#double_break
  #heading_a
    ADMIN CONTROL PANEL
- unless (@events.empty?)
  #single_break
    %h2#heads
      CREATE NEW EVENT :
  #triple_break
    %p#links
      = link_to 'Add New Event', new_event_path
  %p#line
  #event_display
    = render 'events/listing_events'
- else
  %h2#heads
    SORRY NO EVENTS CREATED YET!
  %br/
  %p#links
    = link_to 'Add New Event', new_event_path
  %p#line
%p#line
#single_break
  %h2#heads
    REGISTERED CANDIDATES :
#triple_break
  %p#links
    = link_to 'View All Registered Candidates', candidates_path
    |
    \#{link_to 'Star Candidates', starred_candidates_path}