<h1>Listing batches</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Capacity</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @batches.each do |batch| %>
  <tr>
    <td><%= batch.number %></td>
    <td><%= batch.start_time %></td>
    <td><%= batch.end_time %></td>
    <td><%= batch.capacity %></td>
    <td><%= batch.event_id %></td>
    <td><%= link_to 'Show', batch %></td>
    <td><%= link_to 'Edit', edit_batch_path(batch) %></td>
    <td><%= link_to 'Destroy', batch, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Batch', new_batch_path %>
