<script>
  function show_map() {
     $.ajax({
       url : "<%= map_location_path %>",
       dataType : 'script',
       type : 'get',
       data : "location="+$("#event_location").attr("value")
     });
   }
</script>
<%= link_to 'HOME', root_path %><br />

<h1>Up Coming Walkins</h1>
<% if notice %>
  <p id='notice'><%= notice%></p>
<% end %>
<br /><br /><br />
<% @events.each do |event| %>
  <% if !(event.event_date.past?) %>
  <div id="walkin">
    <table id="walkin_table">
      <tr>
        <th><br /><b>EVENT DATE </b>:<%= event.event_date %></th>
        <th></th>
      </tr>
      <tr>
        <td><u>EXPERIENCE REQUIRED</u></td>
        <td>:<%= event.experience %></td>
      </tr>
      <tr>
        <td><u>VENUE</u></td>
        <td>:<%= event.location %></td>
      </tr>
      <tr>
        <td><u>DESCRIPTION</u></td>
        <td>:<%= event.description %></td>
      </tr>
      <tr>
        <td><u>CATEGORY</u></td>
        <td>:<%= event.category %></td>
      </tr>
      <tr>
        <td><u>TECHNICAL SPECIFICATIONS</u></td>
        <td>:<%= event.tech_spec %></td>
      </tr>
    </table>
    <div style="display:inline;float:right;margin-top:25px">
      <%= link_to 'REGISTER ME', new_event_candidate_path(event) %>
    </div>
    <br /><br /><br />
  </div>
  <% end %>
<% end %>