<script>
  function show_map() {
     $.ajax({
       url : "<%= map_location_path %>",
       dataType : 'script',
       type : 'get',
       data : "location="+$("#event_location").attr("value")
     });
   }
</script>

<%= link_to 'ALREADY REGISTERED?', search_path %><br />

<% if !admin_signed_in? %>
  <%= link_to 'ADMIN Sign In', new_admin_session_path %><br />
<% end %>

<div id="heading">Up Coming Walkins</div>
<br /><br /><br />

<% @events.each do |event| %>
	<!-- Move in controller -->
  <div id="walkin">
    <table id="walkin_table">
      <tr>
        <th><br /><b>EVENT DATE </b>:<%= event.event_date.strftime("%b %d, %Y") %></th>
        <th></th>
      </tr>
      <tr>
        <td><u>EXPERIENCE REQUIRED</u></td>
        <td>:<%= event.experience %></td>
      </tr>
      <tr>
        <td><u>VENUE</u></td>
        <td>:<%= event.location %></td>
      </tr>
      <tr>
        <td><u>DESCRIPTION</u></td>
        <td>:<%= event.description %></td>
      </tr>
      <tr>
        <td><u>CATEGORY</u></td>
        <td>:<%= event.category %></td>
      </tr>
      <tr>
        <td><u>TECHNICAL SPECIFICATIONS</u></td>
        <td>:<%= event.tech_spec %></td>
      </tr>
    </table>
    <div style="display:inline;float:right;margin-top:25px">
      <%= link_to 'REGISTER', new_event_candidate_path(event) %>
    </div>
    <br /><br /><br />
  </div>
<% end %>
<p><%= will_paginate @events %></p>
