<script>
  function show_map() {
     $.ajax({
       url : "<%= map_location_path %>",
       dataType : 'script',
       type : 'get',
       data : "location="+$("#event_location").attr("value")
     });
   }
</script>
<%= link_to 'HOME', root_path %><br />

<h1>Up Coming Walkins</h1>
<% if notice %>
  <p id='notice'><%= notice%></p>
<% end %>
<% @events.each do |event| %>
  <% if !(event.event_date.past?) %>
    <br /><b>EVENT DATE </b>:<%= event.event_date %><br />
    <u>EXPERIENCE REQUIRED</u>:<%= event.experience %><br />
    <u>VENUE</u>:<%= event.location %><br />
    <u>DESCRIPTION</u>:<%= event.description %><br />
    <u>CATEGORY</u>:<%= event.category %><br />
    <u>TECHNICAL SPECIFICATIONS</u>:<%= event.tech_spec %><br />
    <%= link_to 'REGISTER ME', new_event_candidate_path(event) %>
    <br /><br /><br />
  <% end %>
<% end %>