%br/
= link_to 'ALREADY REGISTERED?', search_path
#single_break
  - if !admin_signed_in?
    = link_to 'ADMIN Sign In', new_admin_session_path
#heading_a
  #triple_break
    Up Coming Walkins
- @events.each do |event|
  / Move in controller
  #walkin
    %table#walkin_table
      %tr
        %th
          %b EVENT DATE
          \:#{event.event_date.strftime("%b %d, %Y")}
        %th
      %tr
        %td
          %u EXPERIENCE REQUIRED
        %td
          \:#{event.experience}
      %tr
        %td
          %u VENUE
        %td
          \:#{event.location}
      %tr
        %td
          %u DESCRIPTION
        %td
          \:#{event.description}
      %tr
        %td
          %u CATEGORY
        %td
          \:#{event.category.name}
      %tr
        %td
          %u TECHNICAL SPECIFICATIONS
        %td
          \:#{event.tech_spec}
    #triple_break
      #register
        = link_to 'REGISTER', new_event_candidate_path(event)
%p= will_paginate @events
