<!DOCTYPE html>
<html>
<head>
  <title>EshaVIMapp</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "vimapp", :media => "all" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag :defaults, "nested_form" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="banner">
    <%= image_tag("Vinsol_thumb.png") %>
    <%= "'V'alk-In" %>
    <%= "Management" %><br />
    <p id="details">
      <% if admin_signed_in? %>
        <%= link_to 'Invite Admin', new_admin_invitation_path %> |
        <%= link_to 'Past Events', past_events_path %> | 
        <%= link_to 'Sign Out', destroy_admin_session_path, :method => :delete %>
      <% end %>
    </p>
  </div>  
  <div>
    <%= yield %>
  </div>
</body>
</html>
