!!!
%html
  %head
    %title
      EshaVIMapp
    = stylesheet_link_tag "scaffold.css"
    = stylesheet_link_tag "vimapp.css", :media => "all"
    = stylesheet_link_tag "application.css", :media => "all"
    = javascript_include_tag :defaults, "nested_form"
    = csrf_meta_tag
  %body
    - if admin_signed_in?
      %span#sub_details
        = link_to 'Edit Password', password_reset_admins_path, :class => "#{'current_menu' if controller_name == 'admins' && action_name == 'reset' }"
        |
        = link_to 'Sign Out', destroy_admin_session_path, :method => :delete
    #banner
      = image_tag("Vinsol_thumb.png")
      = "'V'alk-In"
      = "Management"
      %br/
      - if admin_signed_in?
        %span#details
          = link_to 'Control Panel', events_path, :class => "#{'current_menu' if controller_name == 'events' && action_name == 'index' && params[:type] == nil }"
          |
          = link_to 'Invite Admin', new_admin_invitation_path, :class => "#{'current_menu' if controller_name == 'admins/invitations' && action_name == 'new' }"
          |
          = link_to 'Past Events', past_events_path, :class => "#{'current_menu' if controller_name == 'events' && action_name == 'index' && params[:type] == 'past_events' }"
          |
          = link_to 'Category', categories_path, :class => "#{'current_menu' if controller_name == 'categories' && action_name == 'index' }"

    %div
      - unless admin_signed_in?
        %p
          = notice
        %p#signin_notice
          = alert
      = yield
