<!DOCTYPE html>
<html>
<head>
  <title>EshaVIMapp</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "vimapp", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="banner">
    <%= image_tag("Vinsol_thumb.png") %>
    <%= @page_title || "'V'alk-In Management" %>
  </div>
  <div>
    <%= yield %>
  </div>
</body>
</html>
