!!!
%html
  %head
    %title
      EshaVIMapp
    = stylesheet_link_tag "scaffold"
    = stylesheet_link_tag "vimapp", :media => "all"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag :defaults, "nested_form"
    = csrf_meta_tag
  %body
    #banner
      = image_tag("Vinsol_thumb.png")
      = "'V'alk-In"
      = "Management"
      %br/
      %p#details
        - if admin_signed_in?
          = link_to 'Control Panel', events_path
          |
          = link_to 'Invite Admin', new_admin_invitation_path
          |
          = link_to 'Past Events', past_events_path 
          |
          = link_to 'Edit Password', edit_password_path(current_admin) 
          |
          = link_to 'Sign Out', destroy_admin_session_path, :method => :delete
    %div
      - unless admin_signed_in?
        %p
          = notice
        %p#signin_notice
          = alert
      = yield
